{%extends "base.html" %}
{% load i18n %}

{%block content%}

	<h2>{% trans 'Details from url'%} "{{object.short_url}}"</h2>

	<h3>{%trans 'Access Details'%}</h3>
		<table summary="Your Urls">
			<thead>
				<tr>
					<th>{% trans 'Date' %}</th>
					<th>{% trans 'Remote Address'%}</th>
					<th>{% trans 'User Agent' %}</th>
				</tr>
			</thead>
			<tbody>
				{%for access in object.access_set.all%}
				<tr>
					<td>{{access.date_access}}</td>
					<td>{{access.remote_address}}</td>
					<td>{{access.user_agent}}</td>
				</tr>
				{%empty%}
					<td colspan="3">{% trans 'No data' %}</td>
				{%endfor%}
				
			</tbody>
		</table>	
	
{%endblock%}

